HOST=0.0.0.0
PORT=8765
BTP_PUBLIC_URL=https://www.btpsmarttools.com
MYPVIT_MODE=TEST
MYPVIT_BASE_URL=https://api.mypvit.pro
MYPVIT_MERCHANT_SLUG=MR_1778797178
MYPVIT_SECRET=
MYPVIT_ACCOUNT_CODE=
MYPVIT_SECRET_RECEIVER_TOKEN=pvit-btp-b9a1c7a2759644a7b005
